@font-face {
	src: url(../fonts/LXGW-Regular.woff2);
	font-family: lxgw;
}
@font-face {
	src: url(../fonts/张氏黑体二简字.woff2);
	font-family: ej1;
}
@font-face {
	src: url(../fonts/BabelStoneErjian2.woff2);
	font-family: ej2;
}
@font-face {
	src: url(../fonts/RDPSSSFCC-FangSong.woff2);
	font-family: ejzXiu;
}
@font-face {
    src: url(../fonts/方正仿宋简.woff2);
    font-family: fzfs;
}

.ttle {
	display: flex;
	align-items: center;
}

.pfpic {
	height: 50px;
	float: left;
	margin-right: 10px;
}

.ej1 {
	font-family: ej1;
}

.ej2 {
	font-family: ej2;
}

.ej3 {
	font-family: ejzXiu;
}

.lxgw {
	font-family: lxgw;
}

.fzfs {
    font-family: fzfs;
}

.dashed-line {
	border: none;
	border-bottom: 1px dashed;
}

header nav {
	display: flex;
	list-style: none;
}

header nav a {
	flex: 1;
	border: 1px solid;
	background-color: #2dd6c2;
	padding: 5px;
	text-align: center;
}

header nav a:hover {
	background-color: #1f9a8e;
}

@media (min-width: 767px) {
	header nav {
		gap: 15px;
	}
	header nav a {
		border: 1px solid;
		text-align: center;
		border-radius: 15px;
		width: auto;
	}
}

a {
	text-decoration: none;
}

#btn1 {
	border-radius: 15px;
}
